.message-popup-container {
  position: absolute;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  margin-top: 2em;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

.message-popup {
  width: 100%;
  margin-bottom: 1em;
}
