.masking-notice-container {
  background-color: var(--color-prime);
  color: var(--color-1);
  align-items: baseline;
  display: flex;
  justify-content: center;

  grid-column: 1 / span 2;
}

.masking-notice button {
  color: inherit !important;
}

.layout-container {
  --side-menu-width: 25rem;
  --top-bar-height: 4rem;
  --footer-height: 5rem;

  display: grid;
  grid-template-columns: var(--side-menu-width) auto;
  grid-template-rows: var(--top-bar-height) auto auto auto;
}

.login-expiration-container {
  position: absolute;
}

.top-bar-in-main-layout-container {
  grid-column: 1 / span 2;
}

.layout-footer-container {
  grid-column: 1 / span 2;
}
