.haplogroup-legend-container {
  margin: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: medium;
  align-content: flex-start;
}

.legend-item {
  border-radius: 0.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.3rem 1.1rem;
  cursor: default;
  transition: 200ms ease-in-out;
  white-space: nowrap;
  pointer-events: all;
  height: fit-content;
}

.legend-item:hover {
  scale: 1.1;
  transition: 200ms ease-in-out;
}
